body {
    color: rgb(255, 255, 255);
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px #ff0000;
    margin: 20px;
    font-size: 32px;
    color: rgb(255, 0, 0);
}
 .chamada{
    background: rgb(255, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
 }


div{
    margin-right: 80px;

 }
p{
    font-size: 20px;
}


img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 20px;
}


.categoria {
    padding-left: 20px;
    padding-right: 20px;

}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}
    
.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid red;
}

